<div class="jumbotron">
  <div class="container">
    <h2>Something cool, something interesting, something new...</h2>
    <p>...a simple way to share links with your peers!</p>
  </div>
</div>

<div>
  <div class="container">
    <span>something interesting...</span>

  </div>
</div>
