<h1>Listing links</h1>

<table>
  <tr>
    <th>Title</th>
    <th>URI</th>
  </tr>

  <% @links.each do |link| %>
    <tr>
      <td><%= link.title %></td>
      <td><%= link.uri %></td>
    </tr>
  <% end %>
</table>
