<div class="container">
  <h1>A new link has been created...</h1>

  <p>
    <strong>Title:</strong>
    <%= @link.title %>
  </p>

  <p>
    <strong>URI:</strong>
    <%= @link.uri %>
  </p>
  <%= link_to 'Back', root_path %>
</div>