<%= render 'layouts/navigationbar' %>

<div class="container">
  <h1>Link details:</h1>

  <p>
    <strong>Title:</strong>
    <%= @link.title %>
  </p>

  <p>
    <strong>URI:</strong>
    <%= @link.uri %>
  </p>
</div>
